appbundler.xcodeproj/
appbundler.xcodeproj/project.pbxproj
appbundler.xcodeproj.xcodeproj/project.xcworkspace/
appbundler.xcodeproj.xcodeproj/xcuserdata/

Test.app
TestPlugin.app
TestICloudDrive.app

appbundler/bin/
appbundler/runtime/classes/
appbundler/runtime/jar/
appbundler/test/classes/
appbundler/test/jar/
Build/

.DS_Store
